.first
{
    border:solid black 2px;
    width:100px;
    text-align:center;
    border-radius:33px;
    height:100px;
    background-color:blue;
    color:red;

}
.second
{
    width:100px;
    height:100px;
    border-radius:13px;
    text-align:center;
    border:dotted green 2px;

}
.third
{
    border:inset 2px purple;
    width:100px;
    height: 100px;
    border-radius:23px;
    text-align:center;
}
div:hover
{
    background-color:black;
    color:white;
    border:inset;
    cursor:pointer;
}